<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Contact | Kidney Classification</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='stt.css') }}">
</head>
<body>


  <section class="contact">
    <h2>Contact Us</h2>
    <form class="contact-form">
      <input type="text" placeholder="Your Name" required>
      <input type="email" placeholder="Your Email" required>
      <textarea placeholder="Your Message" rows="5"></textarea>
      <button type="submit" class="btn">Send</button>
    </form>
  </section>
</body>
</html>
